<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Hello world</h1>
        <p>Name: {{@name}} {{@lastinitial}}</p>
        <p>Age: {{@age}}</p>
        <h2>A list of fruits</h2>
        <repeat group="{{@fruitList}}" value="{{@fruit}}">
            <p>{{@fruit}}</p>
        </repeat>

        <h2>List of cars</h2>
        <repeat group="{{@carList}}" value="{{@car}}">
            <p>{{@car}}</p>
        </repeat>

        <repeat group="{{@studentList}}" key="{{@sid}}" value="{{@name}}">
            <p>{{@sid}} - {{@name}}</p>
        </repeat>
    </body>
</html>